body {
    background-image: url(../img/background.jpg);
    font-size: 20px;
}

#link {
    display: flex;
    justify-content: right;
    padding-right: 12px;
}

a:link,
a:visited {
    color: rgba(166, 0, 2, 1.00);
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

#wrap {
    margin: auto;
    background-color: rgb(189, 189, 189, 0.5);
    width: 300px;
    padding: 15px;
    border-radius: 15px;


}

#meni {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 24px 14px 41px -2px rgba(0,0,0,0.73);
    background-color: rgba(24, 9, 9, 0.8);
    padding: 15px;
    border-radius: 10px;
    align-items: center;
}

.meni {
    flex-grow: 2;



}

.meni:hover {
    font-size: 24px;
    transition: 0.5s;
    color: azure;
}

.result {
    margin-top: 5px;
    margin-bottom: 0px;
    border-color: black;
    border-radius: 5px;
    box-shadow: -2px -2px 78px 0px rgba(0,0,0,0.91) inset;


}

#pretraga {
    float: right;
    padding-right: 10px;
    padding-bottom: 30px;
    border: yellow;
}

#search {
    padding: 20px;
}

table {
    border: red;
    border-radius: 80px;
    border-width: 3px;
}

.underline {
    border: 2px solid black;
}

.item {
    margin: 15px;
}